<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    <a href="#article"><img class="img-responsive col-sm-4" src="/images/snakeboss.png"><a/>

    <a href="#article" class="update-title">Zulrah's Snakelings</a>

    <p class="text-muted small"><em>Game Updates | 15 January 2015</em></p>

    <p class="col-sm-8">To follow up last week's big release, Zulrah, we are giving a visual upgrade to the snakelings and snakeling pets that came along with the update. <a href="#readmore" class="readmore">Read More...</a></p>
  </div><!-- Article -->
</div><!-- Row -->

<hr class="col-xs-8 col-xs-offset-2 update-hr">

<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    <a href="#article"><img class="img-responsive col-sm-4" src="/images/devblog.png"><a/>

    <a href="#article" class="update-title">Dev Blog: The G.E. Part 2</a>

    <p class="text-muted small"><em>Website | 12 January 2015</em></p>

    <p class="col-sm-8">Should the Grand Exchange come to Old School? You will have a chance to decide, once and for all, in this week's poll. Check out the developer blog for details. <a href="#readmore" class="readmore">Read More...</a></p>
  </div><!-- Article -->
</div><!-- Row -->

<hr class="col-xs-8 col-xs-offset-2 update-hr">

<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    <a href="#article"><img class="img-responsive col-sm-4" src="/images/blowpipe.png"><a/>

    <a href="#article" class="update-title">Toxic Blowpipe PvP Change</a>

    <p class="text-muted small"><em>Website | 12 January 2015</em></p>

    <p class="col-sm-8">We have made a small change to the toxic blowpipe in PvP. <a href="#readmore" class="readmore">Read More...</a></p>
  </div><!-- Article -->
</div><!-- Row -->

<hr class="col-xs-8 col-xs-offset-2 update-hr">

<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    <a href="#article"><img class="img-responsive col-sm-4" src="/images/devblog.png"><a/>

    <a href="#article" class="update-title">Dev Blog: The Grand Exchange</a>

    <p class="text-muted small"><em>Game Updates | 15 January 2015</em></p>

    <p class="col-sm-8">To follow up last week's big release, Zulrah, we are giving a visual upgrade to the snakelings and snakeling pets that came along with the update. <a href="#readmore" class="readmore">Read More...</a></p>
  </div><!-- Article -->
</div><!-- Row -->