<!DOCTYPE html>
<html>
  <head><% include partials/template/head.ejs %></head>
  <body>
	<% include partials/template/header.ejs %>
    <section class="about header">
      <div class="container">
        <div class="row">
            <h2>The story of our team...</h2>
        </div><!-- /.row -->
      </div><!-- /.container -->
    </section>
    <div class="page-header">
      <section class="container">
      	<div class="col-md-10 col-md-offset-1">
              <div class="col-sm-12 col-md-5 col-md-offset-1">
                <div class="info-card">
                  <img style="width: 100%" src="https://randomuser.me/api/portraits/lego/6.jpg" />
                  <div class="info-card-details animate">
                    <div class="info-card-header">
                      <h1> Andrew Alsante </h1>
                      <h3> @geeksmarter </h3>
                    </div>
                    <div class="info-card-detail">
                      <!-- Description -->
                      <p>I am a web developer with an infatuation with all things artistic. I also love to participate in groundbreaking projects. That's why working on something like this is such an easy decision to make. I like to bring a touch of personality to what I'm making!</p>
                      <div class="social">
                        <a href="https://www.facebook.com/whyisthismyurl" class="social-icon facebook animate"><span class="fa fa-facebook"></span></a>

                        <a href="https://twitter.com/geeksmarter" class="social-icon twitter animate"><span class="fa fa-twitter"></span></a>

                        <a href="https://github.com/geeksmarter" class="social-icon github animate"><span class="fa fa-github-alt"></span></a>

                        <a href="http://codepen.io/geeksmarter" class="social-icon linkedin animate"><span class="fa fa-codepen"></span></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
                <div class="col-sm-12 col-md-5 col-md-offset-1">
                <div class="info-card">
                  <img style="width: 100%" src="https://randomuser.me/api/portraits/lego/1.jpg" />
                  <div class="info-card-details animate">
                    <div class="info-card-header">
                      <h1> Patrick Stacy </h1>
                      <h3> @brickhousepat </h3>
                    </div>
                    <div class="info-card-detail">
                      <!-- Description -->
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti atque, tenetur quam aspernatur corporis at explicabo nulla dolore necessitatibus doloremque exercitationem sequi dolorem architecto perferendis quas aperiam debitis dolor soluta!</p>
                      <div class="social">
                        <a href="https://www.facebook.com/brickhousepat" class="social-icon facebook animate"><span class="fa fa-facebook"></span></a>

                        <a href="https://twitter.com/geeksmarter" class="social-icon twitter animate"><span class="fa fa-twitter"></span></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </section>
      <% include partials/template/footer.ejs %>
    </div>

    <% include partials/template/jsdefaults.ejs %>
  </body>
</html>
