<!DOCTYPE html>
<html>
  <head><% include partials/template/head.ejs %></head>
  <body>
	<% include partials/template/header.ejs %>
  <section class="contact header">
            <div class="container">
              <div class="row">
                  <h2>Send us some love...</h2>
              </div><!-- /.row -->
            </div><!-- /.container -->
          </section>
    <div class="page-header">
      <section class="container">
      	<div class="col-md-8">
        		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore aut dolorem, obcaecati, reiciendis asperiores ipsum, totam iure earum possimus minus pariatur laudantium autem officia nisi amet atque assumenda dignissimos sint!</p>  
        </div>

      	<aside class="col-md-4">
          <h3 class="side-title">Want to join? <small>We're growing!</small></h3>
      		<p>Saepe aliquid est sed odio, delectus labore vero iure assumenda blanditiis debitis. Optio magni, dolore ullam ipsam reiciendis tempore beatae, quam quis. Corporis, quam. Beatae corporis, asperiores nemo modi ducimus.</p>
      	</aside>
      </section>
      <% include partials/template/footer.ejs %>
    </div>

    <% include partials/template/jsdefaults.ejs %>
  </body>
</html>
