<!DOCTYPE html>
<html>
  <head><% include partials/template/head.ejs %></head>
  <body>
	<% include partials/template/header.ejs %>
    <div class="page-header">
      <section class="container">
      	<div class="col-md-12">
          <h1 class="movie-title">Let's go kill a dragon! <small>(most recent)</small></h1>
          <div class="screen">
            <i class="fa fa-3x fa-spinner fa-spin loading"></i>
          </div>
        </div>
        <div class="col-md-8">
            <h4 class="description">Description</h4>
        		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore aut dolorem, obcaecati, reiciendis asperiores ipsum, totam iure earum possimus minus pariatur laudantium autem officia nisi amet atque assumenda dignissimos sint!</p>
        </div>

      	<div class="col-md-4">
          <h3 class="more-episodes">More Episodes</h3>
      		<p>Saepe aliquid est sed odio, delectus labore vero iure assumenda blanditiis debitis. Optio magni, dolore ullam ipsam reiciendis tempore beatae, quam quis. Corporis, quam. Beatae corporis, asperiores nemo modi ducimus.</p>
      	</div>
      </section>
    </div>
    <% include partials/template/footer.ejs %>	  

    <% include partials/template/jsdefaults.ejs %>
  </body>
</html>
